.imcms-demo-page {
    width: 100%;
    background-color: #f2f2fc;
    font-family: 'Source Sans Pro', sans-serif;
}

.imcms-demo-page hr {
    margin: 0;
}

/*

   menu

 */
.imcms-demo-page__menu {
    width: 100%;
    height: 45px;
    display: block;
}

.imcms-demo-menu__menu-item {
    height: 100%;
    width: 15%;
    float: left;
    line-height: 40px;
    padding-left: 15px;
    display: inline-block;
    cursor: pointer;
}

.imcms-demo-menu__menu-item:hover {
    background-color: #dcdce6;
}

.imcms-demo-menu__menu-item--active {
    color: #0b94d8;
}

.imcms-demo-menu__menu-item--child {
    display: none;
    width: 100%;
    background-color: #dcdce6;
}

.imcms-demo-menu__menu-item:hover .imcms-demo-menu__menu-item--child {
    display: inline-block;
}

.imcms-demo-menu__menu-item--child:hover {
    background-color: #d3d3dd;
}

.imcms-demo-menu__menu-item--parent > .imcms-demo-menu-item__text:after {
    margin-left: 10px;
    content: "";
    background: url(../../img/controls/icon_sub_open_dark.png) no-repeat center;
    width: 5%;
    height: 10px;
    display: inline-block;
}

.imcms-demo-menu-item__text {
    width: 100%;
    line-height: 40px;
    display: inline-block;
    font-weight: 600;
    font-size: 14px;
}

/*

   /menu

 */

/*

    content

*/
.imcms-demo-page__content {
    margin: 0 150px;
}

.imcms-demo-content__title {
    margin: 30px;
    text-align: center;
    font-weight: 500;
    font-size: 24px;
}

.demo-loop-content__image {
    text-align: center;
    height: 250px;
    background: url(../img/demo1.jpg) no-repeat center;
    background-size: cover;
    opacity: 0.7;
    line-height: 275px;
    font-weight: 700;
    font-size: 20px;
    text-transform: uppercase;
    color: whitesmoke;
}

.demo-loop-content__text-area {
    display: block;
    padding: 20px 0;
}

.demo-loop-texts__text-area {
    display: inline-block;
    width: 45%;
}

.demo-text-area--right {
    float: right;
}

.demo-text-area__title {
    line-height: 50px;
    font-weight: 500;
    font-size: 22px;
}

.imcms-demo-content__images-texts-demo {
    padding: 20px 50px 100px;
    display: block;
}

.demo-row__column {
    display: inline-block;
    width: 30%;
}

.demo-element__image {
    height: 150px;
}

.demo-img1 {
    background: url(../img/demo2.png) no-repeat center;
}

.demo-img2 {
    background: url(../img/demo3.png) no-repeat center;
}

.demo-img3 {
    background: url(../img/demo4.png) no-repeat center;
}
